<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerLogin</servlet-name>
        <servlet-class>ManagerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>UserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin1</servlet-name>
        <servlet-class>UserLogin1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NodeCheck</servlet-name>
        <servlet-class>NodeCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DNSAttack</servlet-name>
        <servlet-class>DNSAttack</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlockSpoofingIp</servlet-name>
        <servlet-class>BlockSpoofingIp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerReg</servlet-name>
        <servlet-class>ManagerReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SpoofUpload</servlet-name>
        <servlet-class>SpoofUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerLogin</servlet-name>
        <url-pattern>/ManagerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin1</servlet-name>
        <url-pattern>/UserLogin1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NodeCheck</servlet-name>
        <url-pattern>/NodeCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DNSAttack</servlet-name>
        <url-pattern>/DNSAttack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlockSpoofingIp</servlet-name>
        <url-pattern>/BlockSpoofingIp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerReg</servlet-name>
        <url-pattern>/ManagerReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SpoofUpload</servlet-name>
        <url-pattern>/SpoofUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
